PORT=5000
MONGO_URI=mongodb+srv://rajalok957641_db_user:rajalok754184@cluster0.1ir0uzz.mongodb.net/?appName=Cluster0
JWT_SECRET=mera_bahut_lamba_secret_key_jo_koi_guess_na_kar_sake_2024
# GEMINI_API_KEY=AQ.Ab8RN6LVdKNAAT2fuTTZp-aKAj984fBF5_-KwI3G3qqUxU9OqQ
NODE_ENV=development
GROQ_API_KEY=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
RAZORPAY_KEY_ID=rzp_test_SoP0awKZdS5zFG
RAZORPAY_KEY_SECRET=LB5Col1qMQIt2atq1S4HXMW5
ADMIN_EMAIL=rajalok957641@gmail.com